.RecoverPagenaCon{
    justify-content: space-between;
}

@media screen and (max-width: 475px) {
    .selectCon{
        min-width: 100%;
        margin-bottom: 10px;
    }
    .searchCon{
        min-width: 100%;
    }
}
@media screen and (max-width: 474px) {
    .RecoverPagenaCon{
        justify-content: center;
    }
}

tr td{
    vertical-align: middle;
}